venv/
keys/
*.json # Use single quotes to prevent globbing
__pycache__/
*.pyc
.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
app/sentiment/models/
app/sentiment/*.bin
app/sentiment/*.pt
*.bin
*.pt
*.pkl
venv/
.venv/
__pycache__/
*.pyc
app/sentiment/models/
Miniforge3-*.sh
.pyenv/
app/sentiment/models/
/Users/alexkwamin/Desktop/GOOGLE_APPLICATION_CREDENTIALS/
*.json # Or be specific
day-trading-app-468901-86e21748f637.json
